<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="." method="post">
        {% csrf_token %}
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" maxlength="256" required><br><br>

        <label for="password">Email:</label>
        <input type="text" name="password" maxlength="256" required><br><br>

        <input type="submit" value="log in" required>
    </form>
</body>
</html>